.brochure {
  height: 524px;
  background: #118A36;
  position: relative;

  .brochure__wrapper {
    height: 100%;
  }
}

.brochure__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 50px;
    line-height: 45px;
    display: block;
    margin-bottom: 24px;
    font-weight: 700;
    color: #fff;
  }

  > div {
    display: flex;
    align-items: center;
  }
}

.brochure__img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  opacity: 73%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.brochure__select {
  width: 265px;
  height: 55px;
  background: #fff;
  color: #565655;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .current__value {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 50px;
  }

  .select__list {
    display: none;

    .option {
      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }

  &:after {
    content: url("../../../img/svg/arrow-down.svg");
    position: absolute;
    right: 28px;
  }
}

.brochure__select.open {
  .select__list {
    display: block;
    position: absolute;
    top: 55px;
    list-style: none;
    color: #565655;
    background: #fff;
    width: 100%;

    .option {
      padding: 5px 0;
      text-align: center;
    }
  }
}

.brochure__download {
  margin-left: 34px;

  &:hover {
    cursor: pointer;
  }

  svg {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 1400px) {
  .brochure {
    height: 420px;
  }
}

@media screen and (max-width: 991px) {
  .brochure {
    height: 269px;
  }

  .brochure__content {
    width: 100%;

    > span {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 17px;
    }

    > div {
      flex-direction: column;
      justify-content: center;
    }
  }

  .brochure__select {
    width: 220px;
    height: 46px;

    .current__value {
      margin-right: 30px;
    }

    &:after {
      right: 10px;
    }
  }

  .brochure__select.open {
    .select__list {
      top: 46px;
    }
  }


  .brochure__download {
    margin: 16px 0 0 0;
  }


  .brochure__img {
    display: none;
  }
}