.drip-technology {
  height: 768px;
  position: relative;

  .container {
    height: 100%;
  }
}

.drip-technology-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #008A36a1;

  img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
}

.drip-technology__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 833px;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  > span {
    font-size: 80px;
    line-height: 70px;
    font-weight: 400;
    color: #fff;

    span {
      font-weight: 700;
    }
  }

  p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;

    span {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 991px) {
  .drip-technology {
    height: 592px;
  }

  .drip-technology-bg {
    img {
      object-fit: cover;
    }
  }

  .drip-technology__wrapper {
    justify-content: flex-start;
    > span {
      margin-top: 173px;
      font-size: 40px;
      line-height: 35px;
      padding: 0 20px;
      span {
        font-size: 40px;
      }
    }

    p {
      margin-top: 16px;
      font-size: 18px;
      line-height: 25px;
      padding: 0 20px;
    }
  }
}