.first-screen-section{
	position: relative;
	padding: 184px 0;

	.section-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
			display: block;
		}
	}

	.container{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
	}

	.section-logo{
		height: 167px;
		width: auto;
		display: block;
	}

	@media screen and (max-width: 991px){
		padding: 100px 0;

		.section-logo{
			height: 130px;
		}
	}

	@media screen and (max-width: 767px){
		.section-logo{
			height: 100px;
		}
	}

	@media screen and (max-width: 575px){
		padding: 75px 0;

		.section-logo{
			height: 65px;
		}
	}
}