.products {
  padding: 95px 0 150px;
  background: #DFE0DF;
}

.products__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.products__card {
  width: 340px;
  text-align: center;
  padding: 10px;


  .card__img {
    width: 100%;
    height: 364px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }


  span {
    display: block;
    margin: 10px 0;
    font-size: 30px;
    line-height: 28px;
    color: #008A36;
    font-weight: 700;
  }

  p {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
    color: #565655;
  }

  a {
    font-size: 25px;
    font-weight: 700;
    color: #565655;
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .products {
    padding: 37px 0 84px;
  }

  .products__wrapper {
    flex-wrap: wrap;
  }

  .products__card {
    width: 50%;

    .card__img {
      align-items: center;
      justify-content: center;

      img {
        width: 70%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .products__wrapper {
    flex-wrap: wrap;
  }

  .products__card {
    width: 100%;

    .card__img {
      height: 286px;

      img {
        width: auto;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  span {
    font-size: 25px;
    line-height: 25px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 20px;
  }
}